

h1 {color: #000000; font-family: 'Montserrat', sans-serif; font-size: 5rem; font-weight: 900; text-align: left;}

h2 {color: #000000; font-family: 'Montserrat'; transform: titlecase; font-size: 3.5rem; font-weight: 500;}

h3 {color:  #231100; font-family: 'Montserrat'; font-size: 2rem; padding: 10px; font-weight: 550; text-align: center;}

h4 {color: #000000; font-family: 'Montserrat'; transform: titlecase; font-size: 2rem; font-weight: 500; text-align: center;}

h5 {color: #000000; font-family: 'Montserrat'; transform: titlecase; font-size: 1.8rem; font-weight: 500; text-align: left;  padding: 2px;}


p {color:  #000000; font-family: 'Montserrat'; font-size: 2rem; padding: 10px; font-weight: 500; text-align: left;}

.mainheader {padding:  50px 5px 20px 5px; background-color:  #8C8C8C; color:  #f4f4f4; text-align:  left; float: left;}

.graphs {padding:  10px; }

.blurb {padding:  10px 5px 10px 5px; background-color:  #17567F; color:  #f4f4f4; text-align:  left; float: left;}

.bodybox {padding: 5px 5px 5px 5px;}

.callout1 {background-color: #17567F; border: solid 8px #8C8C8C; }

.box2 {background-color: #F9E014;}

.box3 {background-color: #17BDB9;}

.box4 {background-color:  #FFFFFF;}

.img1 {img max-width: 100%; height: auto;}

.img-caption {background-color: #D3E3E6; opacity:  .5;}

.videoWrapper {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  height: 0;
}
.videoWrapper iframe {
  position: absolute;
  top: 5;
  left: 10;
  
  width: 98%;
  height: 95%;
}



.lyric-font {color:  #FFFFFF; font-family:  'Mystery Quest', cursive; font-size:  2.5rem; font-weight: 500; text-align: center}

.background-blur {background-image: url("../Scooby-Doo-Big-Image-Blur.jpg");}